<div class="h1-portlet">
    <h1><%= @class.year%><%= @class.class_letter%>'s Record</h1>
</div>
<p>Class Group: <%= @class.year%><%= @class.class_letter%></p>
<p>Class Teacher: <%= @class.teacher.first_name%></p>
<a href="/classes/<%=@class.id%>/students">List of Students</a>


<% if session[:user_type] == 'Administrator'%>

<form action="/classes/<%= @class.id%>" method="post">
    <input type="hidden" name="_method" value="put">

    <label for="">Class Year</label>
    <input type="text" name="year" value="<%= @class.year%>">

    <label for="">Class Letter</label>
    <input type="text" name="classletter" value="<%= @class.class_letter%>">

    <label for="">Teacher ID</label>
    <input type="text" name="teacher_name" value="<%= @class.teacher_id%>" placeholder = "Latin Expert">

    <button>Update Class Record</button>
</form>

<form action="/classes/<%= @class.id%>" method="post">
    <input type="hidden" name="_method" value = "delete">
    <button>Delete Class Record</button>
</form>
<% end %>