<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Latin Self-Assessment Tool</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <%if session[:user_id]%>
    
    <% if session[:user_type] == 'Teacher'  %>
      <p>Logged in as a <%= session[:user_type]%>: <%= Teacher.find(session[:user_id]).email %></p>
    <% else %>
      <p>Logged in as a <%= session[:user_type]%>: <%= Student.find(session[:user_id]).email %></p>
    <% end %>
    
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>
  <% else %>
    <a href="/login"><button>login</button></a>
  <%end%>
  <%= yield %>

</body>
</html>