<div class="h1-portlet">
    <h1>Questions</h1>
</div>
<a class="new-class-btn" href="/questions/new"><button>Add A New Question</button></a>

<div class="classes-container">
    <% @questions.each do |question|%>
        <div class="portlet-variant2">
            <div class = "student-update-form-row">
                <div class="label-input-pair">
                    <% if @questions.distinct.pluck(:teacher_id).length > 1 && question.teacher%>
                    <h2>Teacher: <%= question.teacher.first_name%></h2>
                    <% end %>
                </div>
            </div>
            <div class = "student-update-form-row">
                <div class="label-input-pair">
                    <p>Question: "<%= question.body%>"&nbsp;&nbsp;&nbsp;</p>
                </div>
                <div class="label-input-pair">
                    <p>Type: <%= question.assessment_type%></p>
                </div>
            </div>
            <div class = "student-update-form-row">
                <div class="label-input-pair">
                    <p>Answer: <%= question.answer_key%></p>
                </div>
            </div>
            <button><a href="/questions/<%= question.id%>"><p>Edit Question</p></a></button>
        </div>
    <% end %>
</div>