<div class="portlet-wrapper">
    <div class="h1-portlet">
        <h1><%= @student.first_name%> <%= @student.middle_name%> <%= @student.last_name%>'s Record</h1>
    </div>
    <div class="h2-portlet">
        <h2>School Class: <%= @student.school_class.year%><%= @student.school_class.class_letter%></h2>
        <h2>Class Teacher: <%=@student.school_class.teacher.first_name + ' ' + @student.school_class.teacher.last_name%></h2>
    </div>
</div>

<% if @student.student_answers.where(reviewed: true).length > 0 %>
<div class="portlet">
    <h3>Overall Performace</h3>
    <p>Questions Correct: <%= '%.2f' % ((@student.student_answers.where(reviewed: true).where(outcome: 'Correct').length.to_d / @student.student_answers.where(reviewed: true).length)*100)%>% </p>
    <h3>Recent Performance: Last <%=@student.student_answers.where(reviewed: true).limit(10).length%> Questions</h3>
    <p>Questions Correct: <%= '%.2f' % ((@student.student_answers.where(reviewed: true).limit(10).where(outcome: 'Correct').length.to_d / @student.student_answers.where(reviewed: true).limit(10).length)*100)%>% </p>
</div>
<% end %>

<% if current_user.class.to_s == 'Administrator'%>
<div class="portlet">
    <br/>
    <h1>Update Student Data</h1>
    <br/>
    <form class = "student-update-form" action="/students/<%= @student.id%>" method="post">
        <input type="hidden" name="_method" value="put">
        <div class = "student-update-form-row">
            <div class = "label-input-pair">
                <label for="">First Name </label>
                <input type="text" name ="first_name" value="<%= @student.first_name%>">
            </div>
            <div class = "label-input-pair">
                <label for="">Middle Name </label>
                <input type="text" name ="middle_name" value="<%= @student.middle_name%>">
            </div>
            <div class = "label-input-pair">
                <label for="">Last Name </label>
                <input type="text" name ="last_name" value="<%= @student.last_name%>">
            </div>
        </div>
        <div class="student-update-form-row">
            <div class="label-input-pair">
                <label for="">Class ID&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name ="school_class_id" value="<%= @student.school_class_id%>">
            </div>
            <div class="label-input-pair">
                <label for="">Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name ="email" value="<%= @student.email%>">
            </div>
            <div class="label-input-pair">
                <label for="">Password&nbsp;&nbsp;</label>
                <input type="password" name ="password">
            </div>
        </div>
        
        <button>Update Student Details</button>
    </form>

    <form class = "student-delete-form" action="/students/<%= @student.id%>" method="post">
        <input type="hidden" name="_method" value = "delete">
        <button>Delete Student Record</button>
    </form>
</div>
<% end %>