<h1> Hello <% current_user.first_name%></h1>

<h2 class="bottom-border">Questions for self-assessment</h2>

<% @questions.each_with_index do |question,index|%>
    <p class="question">Question: <%=  question.body%></p>
    <form class="question-form" action="/students/questions" method="post">
        <input type="hidden" name="latin_question_id" value="<%=question.id%>">
        <label for="">Answer: </label>
        <input class="answer<%=index%>" type="text" name="answer">
        <input type="hidden" value = "<%=question.id%>">
        <button type="button" class="check_answer check_answer<%= index%>">Check Answer</button>
        <span class ="hidden answer_key<%=index%>"><%=question.answer_key%></span>
        <div class="outcomes">
            <span>✓:<input type="radio" name="outcome" value="Correct"></span><!--
         --><span>✗:<input type="radio" name="outcome" value="Incorrect"></span><!--
         --><span>?:<input type="radio" name="outcome" value="Unsure" checked></span><!--
         --><button type="submit">Submit</button>
        </div>
    </form>

    <form action=""></form>
<% end %>
<% if @questions.length == 0%>
    <p>Well done! There are no more questions left!</p>
<% end %>