<h1> Hello <% current_user.first_name%></h1>

<h2 class="bottom-border">Questions for self-assessment</h2>

<% @questions.each_with_index do |question,index|%>
    <p class="question">Question: <%=  question.body%></p>
    <%# <input type="text"> %>
    <form class="question-form" action="/students/questions" method="post">
        <input type="hidden" name="question_id" value="<%=question.id%>">
        <label for="">Answer: </label>
        <input class="answer<%=index%>" type="text" name="answer">
        <input type="hidden" value = "<%=question.id%>">
        <button type="button" class="check_answer check_answer<%= index%>">Check Answer</button>
        <span class ="hidden answer_key<%=index%>"><%=question.answer_key%></span>
        <div class="outcomes">
            ✓:<input type="radio" name="outcome" value="Correct"> 
            ✗:<input type="radio" name="outcome" value="Incorrect">
            ?:<input type="radio" name="outcome" value="Unsure" checked>
            <button type="submit">Submit</button>
        </div>
    </form>

    <form action=""></form>
<% end %>