<h1>Students of <%= @students.first.school_class.year%><%= @students.first.school_class.class_letter%></h1>

<% if session[:user_type] == 'Administrator'%>
<a href="/students/new"><button>Add A New Student</button></a>
<% end %>

<% @students.each do |student|%>
   <a href="/students/<%= student.id%>"><p><%= student.first_name%> <%= student.middle_name%> <%= student.last_name%></p></a>
   <a href="/students/<%= student.id%>">
   <h3>Recent Performance: <!--
    --><% if student.student_answers.where(reviewed: true).length > 0%>
    <%= (student.student_answers.where(reviewed: true).limit(10).where(outcome: 'Correct').length.to_d / student.student_answers.where(reviewed: true).limit(10).length)*100%>%
    <% else %>
        Not enough data
    <% end %>
   </h3></a>
<% end %>