<div class="portlet-wrapper">
    <div class="h1-portlet">
        <h1><%= @student.first_name%> <%= @student.middle_name%> <%= @student.last_name%>'s Record</h1>
    </div>
    <div class="h2-portlet">
        <h2>School Class: <%= @student.school_class.year%><%= @student.school_class.class_letter%></h2>
        <h2>Class Teacher: <%=@student.school_class.teacher.first_name + ' ' + @student.school_class.teacher.last_name%></h2>
    </div>
</div>

<% if @student.student_answers.where(reviewed: true).length > 0 %>
<div class="portlet`">
    <h3>Overall Performace</h3>
    <p>Questions Correct: <%= (@student.student_answers.where(reviewed: true).where(outcome: 'Correct').length.to_d / @student.student_answers.where(reviewed: true).length)*100%>% </p>
    <h3>Recent Performance: Last <%=@student.student_answers.where(reviewed: true).limit(10).length%> Questions</h3>
    <p>Questions Correct: <%= (@student.student_answers.where(reviewed: true).limit(10).where(outcome: 'Correct').length.to_d / @student.student_answers.where(reviewed: true).limit(10).length)*100%>% </p>
</div>
<% end %>

<% if current_user.class.to_s == 'Administrator'%>
<div class="portlet">
    <h2>If you would like to update anything, use the following form</h2>

    <form action="/students/<%= @student.id%>" method="post">
        <input type="hidden" name="_method" value="put">

        <label for="">First Name</label>
        <input type="text" name ="first_name" value="<%= @student.first_name%>">

        <label for="">Middle Name</label>
        <input type="text" name ="middle_name" value="<%= @student.middle_name%>">

        <label for="">Last Name</label>
        <input type="text" name ="last_name" value="<%= @student.last_name%>">

        <label for="">Class ID</label>
        <input type="text" name ="school_class_id" value="<%= @student.school_class_id%>">

        <label for="">Email</label>
        <input type="text" name ="email" value="<%= @student.email%>">

        <label for="">Password</label>
        <input type="password" name ="password">
        
        <button>Update Student Details</button>
    </form>

    <form action="/students/<%= @student.id%>" method="post">
        <input type="hidden" name="_method" value = "delete">
        <button>Delete Student Record</button>
    </form>
</div>
<% end %>