<div class="h1-portlet">
    <h1><%= @teacher.first_name%> <%= @teacher.middle_name%> <%= @teacher.last_name%>'s Record</h1>
</div>
<h2>School Classes: Content Pending</h2>

<% if current_user.class.to_s == 'Administrator'%>
<h2>If you would like to update anything, use the following form</h2>

<form action="/teachers/<%= @teacher.id%>" method="post">
    <input type="hidden" name="_method" value="put">

    <label for="">First Name</label>
    <input type="text" name ="first_name" value="<%= @teacher.first_name%>">

    <label for="">Middle Name</label>
    <input type="text" name ="middle_name" value="<%= @teacher.middle_name%>">

    <label for="">Last Name</label>
    <input type="text" name ="last_name" value="<%= @teacher.last_name%>">

    <label for="">Email</label>
    <input type="text" name ="email" value="<%= @teacher.email%>">

    <label for="">Password</label>
    <input type="password" name ="password">
    
    <button>Update Teacher Details</button>
</form>

<form action="/teachers/<%= @teacher.id%>" method="post">
    <input type="hidden" name="_method" value = "delete">
    <button>Delete Teacher Record</button>
</form>

<% end %>